name: CI

on:
  push:
    branches: [main, develop, database-setup, tests]
  pull_request:
    branches: [main, develop]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install deps
        run: npm ci

      - name: Lint (ESLint)
        run: npm run eslint:check

      - name: Prettier check
        run: npm run prettier:check

      - name: Tests (coverage)
        
        env:
          NODE_OPTIONS: --experimental-vm-modules
        run: npm run coverage
